"*":
  "atom-beautify":
    html:
      end_with_newline: true
  "atom-ctags":
    buildTimeout: 60000
    cmdArgs: "--exclude=node_modules"
  core:
    disabledPackages: [
      "language-gfm"
      "wrap-guide"
      "linter-csslint"
      "linter-sass-lint"
      "linter-scss-lint"
      "metrics"
      "exception-reporting"
      "atom-typescript"
      "markdown-scroll-sync"
      "imdone-atom"
      "symbols-tree-view"
      "code-peek"
      "php-integrator-symbol-viewer"
      "autoclose-html"
      "livereload"
      "atom-autocomplete-php"
      "activate-power-mode"
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "logs"
      "public/assets"
    ]
    projectHome: "/Users/boris/Code"
  "custom-title":
    template: "<%= fileName %><% if (projectName) { %> - <%= projectName %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  docblockr:
    return_description: false
  editor:
    fontFamily: "Operator Mono"
    fontSize: 12
    invisibles: {}
    lineHeight: 3
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "file-icons": {}
  fonts:
    fontFamily: "PT Mono"
  "fuzzy-finder":
    ignoredNames: [
      "storage/*"
      "public/assets/*"
      "public/build/*"
    ]
  "genesis-ui":
    distractionFree: {}
  "glowing-cursor": {}
  jshint: {}
  linter:
    errorPanelHeight: 220
    lintOnFly: false
  "linter-js-standard": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 11
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-cs-fixer":
    executablePath: "/Users/boris/.composer/vendor/fabpot/php-cs-fixer/php-cs-fixer"
    runPhpWithoutAnyIni: true
    showInfoNotifications: true
  "php-integrator-autocomplete-plus": {}
  "php-integrator-symbol-viewer": {}
  pigments: {}
  "project-manager":
    sortBy: "title"
  "seti-ui":
    themeColor: "Green"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "resources/assets/vendor/kode/"
    ]
  "tree-view":
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
