"*":
  core:
    disabledPackages: [
      "symbols-view"
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".idea"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "logs"
      "clockwork"
      "storage/framework/cache"
      "**/public/assets/*"
      "**/storage/framework/views/*"
      "**/public/build/*"
      ".tags"
      ".tags1"
      ".tags2"
      ".tags3"
      ".tags4"
      ".tags*"
      "**/node_modules/.bin"
      "**/node_modules/abbrev"
      "**/node_modules/accord"
      "**/node_modules/acorn*"
      "**/node_modules/ansi*"
      "**/node_modules/anymatch"
      "**/node_modules/are-we*"
      ""
      "**/node_modules/array-*"
      "**/node_modules/arr-*"
      "**/node_modules/async*"
      "**/node_modules/babel-*"
      "**/node_modules/browserify-*"
      "**/node_modules/base*"
      "**/node_modules/gulp-*"
      "**/node_modules/has-*"
      "**/node_modules/is-*"
      "**/node_modules/lodash*"
      "**/node_modules/node-*"
      "**/node_modules/normalize-*"
      "**/node_modules/parse-*"
      "**/node_modules/path-*"
      "**/node_modules/os-*"
      "**/node_modules/postcss-*"
    ]
    telemetryConsent: "no"
    useCustomTitleBar: true
  "custom-title":
    template: "<%= fileName %><% if (projectName) { %> - <%= projectName %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  docblockr:
    return_description: false
  editor:
    fontFamily: "Operator Mono"
    fontSize: 12
    lineHeight: 3
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "69c0f9e9-a827-fb88-14c9-0d1a29c8b1d1"
  "fuzzy-finder":
    ignoredNames: [
      "storage/*"
      "public/assets/*"
      "public/build/*"
    ]
  linter:
    errorPanelHeight: 123
    lintOnFly: false
  "linter-phpcs":
    excludedSniffs: [
      "PSR2.ControlStructures.ControlStructureSpacing"
      "Generic.Files.LineLength"
      "Generic.ControlStructures.InlineControlStructure"
      "Generic.Functions.FunctionCallArgumentSpacing"
      "Squiz.Functions.MultilineFunctionDeclaration"
      "Squiz.Functions.SpaceAfterKeyword"
    ]
  "one-dark-ui":
    fontSize: 12
  "package-sync":
    createOnChange: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".editorconfig.source":
  editor:
    showInvisibles: true
