packages: [
  "atom-alignment"
  "atom-ctags"
  "autoclose-html"
  "cdn-libs"
  "custom-title"
  "docblockr"
  "editorconfig"
  "emmet"
  "file-icons"
  "firewatch-syntax"
  "highlight-selected"
  "hyperclick"
  "language-blade"
  "language-dots"
  "language-htaccess"
  "language-ini"
  "language-vue"
  "language-vue-component"
  "less-than-slash"
  "linter"
  "linter-php"
  "linter-phpcs"
  "minimap"
  "package-sync"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-navigation"
  "php-integrator-tooltips"
  "pigments"
  "project-manager"
  "remote-sync"
  "set-syntax"
  "todo-show"
]
