packages: [
  "activate-power-mode"
  "advanced-open-file"
  "angularjs"
  "atom-alignment"
  "atom-autocomplete-php"
  "atom-beautify"
  "atom-bootstrap3"
  "atom-material-ui"
  "atom-typescript"
  "atom-wrap-in-tag"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-modules"
  "blade-snippets"
  "caniuse"
  "cdn-libs"
  "code-peek"
  "color-picker"
  "custom-title"
  "docblockr"
  "editorconfig"
  "emmet"
  "es6-javascript"
  "file-icons"
  "genesis-syntax"
  "genesis-ui"
  "git-blame"
  "git-plus"
  "glowing-cursor"
  "gulp-control"
  "highlight-selected"
  "imdone-atom"
  "javascript-snippets"
  "jquery-snippets"
  "language-blade"
  "language-dots"
  "language-ini"
  "language-markdown"
  "language-vue"
  "language-vue-component"
  "less-than-slash"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-htmlhint"
  "linter-jshint"
  "linter-php"
  "linter-sass-lint"
  "linter-scss-lint"
  "livereload"
  "markdown-preview-plus"
  "markdown-scroll-sync"
  "material-design-syntax"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-pigments"
  "oceanic-next"
  "open-recent"
  "package-sync"
  "php-cs-fixer"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-linter"
  "php-integrator-navigation"
  "php-integrator-refactoring"
  "php-integrator-symbol-viewer"
  "php-integrator-tooltips"
  "pigments"
  "project-manager"
  "qolor"
  "remote-sync"
  "set-syntax"
  "seti-syntax"
  "seti-ui"
  "symbols-tree-view"
  "synced-sidebar"
  "todo-show"
  "toggle-quotes"
  "vue-autocomplete"
  "vue-snippets"
  "wordpress-api"
]
