packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-beautify"
  "atom-bootstrap3"
  "atom-ctags"
  "atom-wrap-in-tag"
  "auto-update-packages"
  "autoclose-html"
  "blade-snippets"
  "caniuse"
  "cdn-libs"
  "custom-title"
  "docblockr"
  "editorconfig"
  "emmet"
  "file-icons"
  "git-blame"
  "git-plus"
  "highlight-selected"
  "imdone-atom"
  "jquery-snippets"
  "language-babel"
  "language-blade"
  "language-dots"
  "language-generic-config"
  "language-ini"
  "language-markdown"
  "language-vue"
  "language-vue-component"
  "laravel"
  "laravel-snippets"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "markdown-preview-plus"
  "merge-conflicts"
  "minimap"
  "open-recent"
  "package-sync"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-linter"
  "php-integrator-navigation"
  "php-integrator-refactoring"
  "php-integrator-symbol-viewer"
  "php-integrator-tooltips"
  "pigments"
  "project-manager"
  "qolor"
  "remote-sync"
  "set-syntax"
  "todo-show"
  "toggle-quotes"
  "vue-autocomplete"
  "vue-snippets"
  "wordpress-api"
]
