[
  {
    title: "Varewo"
    group: "Creo"
    paths: [
      "/Users/boris/Code/creo/varewo"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 7
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "OptimizeLeads"
    group: "Influendo"
    paths: [
      "/Users/boris/Code/influendo/optimize-leads"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 7
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "OptimizePress"
    group: "Influendo"
    paths: [
      "/Users/boris/Code/influendo/optimizepress"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "OptimizeBoard"
    group: "Influendo"
    paths: [
      "/Users/boris/Code/influendo/board"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Nisam"
    group: "Personal"
    paths: [
      "/Users/boris/Code/personal/nisam"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Elementor"
    group: "Test"
    paths: [
      "/Users/boris/Code/test/elementor"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Mi2 MaMa"
    group: "Creo"
    paths: [
      "/Users/boris/Code/creo/mi2"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Creolab"
    group: "Creo"
    paths: [
      "/Users/boris/Code/creo/creolab"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Omniglot"
    group: "Creo"
    paths: [
      "/Users/boris/Code/creo/omniglot"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Gdpr"
    group: "Influendo"
    paths: [
      "/Volumes/Superhero/Code/influendo/gdpr"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Mini Identiteta"
    group: "Creo"
    paths: [
      "/Volumes/Superhero/Code/creo/mini-identiteta"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
]
