# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.html.php':
  '<?php ':
    'prefix': 'phpe'
    'body': '<?php echo $1; ?>'

  'print_r and die':
    'prefix': 'pprd'
    'body': 'echo "<pre>"; print_r(${1}); echo "</pre>"; die();'

  'print_r':
    'prefix': 'ppr'
    'body': 'echo "<pre>"; print_r(${1}); echo "</pre>";'

  'var_dump and die':
    'prefix': 'pprvd'
    'body': 'echo "<pre>"; print_r(var_dump(${1})); echo "</pre>"; die();'

  'var_dump':
    'prefix': 'pprv'
    'body': 'echo "<pre>"; print_r(var_dump(${1})); echo "</pre>";'

  '<?php echo(); ?>':
    'prefix': 'phpx'
    'body': """<?php

$0

"""

  'namespace':
    'prefix': 'ns'
    'body': 'namespace $0;'

  '@author':
    'prefix': 'author'
    'body': '@author Boris Strahija <bstrahija@gmail.com>'

  'met':
    'prefix': 'met'
    'body': """${1:public} function ${2:name}(${3:$data}) {
    $4
}
"""
